body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 97vw;
    margin: 0 auto;
}

.header__title {
    font-weight: normal;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
}

.header__btn {
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    font-size: 1rem;
    background-color: blue;
    padding: 5px 10px;
    margin-top: 15px;
    border: none;
    height: 35px;
    box-shadow: 0px 3px 2px rgb(80, 80, 80);
    transition: .1s;
    transition-property: background, box-shadow;
}

.header__btn:hover {
    cursor: pointer;
    background-color: rgb(7, 57, 175);
}

.header__btn:active {
    box-shadow: 0px 3px 4px rgb(87, 87, 87);
}

.sum-title {
    display: inline-block;
    margin-bottom: 5px;
    color: gray;
    font-size: 14px;
}

.border {
    border-bottom: 2px dotted gray;
    display: inline-block;
    min-width: 390px;
    padding-bottom: 7px;
}

.gray {
    color: gray;
}

.section {
    max-width: 95vw;
    margin: 20px 15px 0px 15px;
}

.wrapper {
    display: flex;
}

.section__item-email {
    margin-left: 25px;
}

.input-email {
    border: none;
    border-bottom: 1px solid rgb(20, 20, 20);
    padding: 7px 0px;
    min-width: 655px;
    margin-top: 15px;
    font-size: 1rem;
    transition: all .5s;
}

.email-title {
    font-size: 12px;
    color: gray;
    transition: all .5s;
    /* display: none; */
    position: absolute;
    /* display: block; */

}


.form__btn {
    position: relative;
    top: 65px;
    background-color: rgb(45, 177, 95);
    border: none;

    height: 35px;
    padding: 0 13px;
    border-radius: 5px;
    font-size: 16px;
    transition: .2s;
    transition-property: background, box-shadow;
}

.form__btn:hover {
    background-color: rgb(16, 158, 70);
    cursor: pointer;
}

.form__btn:active {
    box-shadow: 0px 3px 4px rgb(66, 66, 66);
}

.view-amount {
    display: inline-block;
    margin-bottom: 45px;
    margin-left: 25px;
    min-width: 197px;
    border-bottom: 2px dotted gray;
}


.form__fields>input {
    border: none;
    border-bottom: 1px solid gray;
    padding: 7px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}


.form__fields>input:focus {
    outline: none;
}

.form__fields>.ic-title {
    display: inline-block;
    position: absolute;
}

.form__fields input+input {
    margin-left: 25px;
    min-width: 197px;
}

.input-name {
    box-sizing: border-box;
    min-width: 390px;
}

.view-amount__title {
    font-size: 16px;
    transform: translateY(2px);
    transition: transform .2s ease-in;
    position: absolute;

}

.act-title {
    transform: translateY(-20px);
    font-size: 13px;
}

.input-count {
    margin-left: 21px;
    min-width: 197px;
}

.input-price {
    min-width: 197px;
    margin-left: 25px;
}

span {
    z-index: 1;
    color: gray;
}
input {
    opacity: .9;
}

.general-sum {
    font-size: 16px;
}

.code-rubl {
    font-size: 16px;
}


.view-amount__sum {
    background: none;
    border: none;
    font-size: 1rem;
    margin-bottom: 5px;
    /* padding-bottom: 7px; */
}


.trash {
    cursor: pointer;
    position: relative;
    top: 18px;
    width: 23px;
    padding: 25px 0 0 15px;
}

.ip-title {
    position: absolute;
    left: 48.2%;
    top: 23.5%;
    transform: translateY(0px);
    transition: all .3s;
    display: inline-block;
}



.form__fields {
    box-sizing: border-box;
}


.ic-title {
    position: absolute;
    left: 31.6%;
    transform: translateY(12px);
    transition: all .3s;
    display: inline-block;
}
.ip-title_active {
    transform: translateY(-7px);
    font-size: 13px;
    left: 31.5%;
}

.ic-title_active {
    transform: translateY(-20px);
    font-size: 13px;
}

.in-title {
    position: absolute;
    left: 1.1%;
    top: 23.5%;
    transform: translateY(0px);
    transition: all .3s;
    display: inline-block;
}

.in-title_active {
    transform: translateY(-20px);
    font-size: 13px;
}